ATLAS_PROJECT_ID=abc123
ATLAS_PUBLIC_KEY=...
ATLAS_PRIVATE_KEY=...

M0_MONGO_URI=mongodb+srv://...
M0_ATLAS_CLUSTER_NAME=benchmark-m0

FLEX_MONGO_URI=mongodb+srv://...
FLEX_ATLAS_CLUSTER_NAME=benchmark-flex

M10_MONGO_URI=mongodb+srv://...
M10_ATLAS_CLUSTER_NAME=benchmark-m10

M30_MONGO_URI=mongodb+srv://...
M30_ATLAS_CLUSTER_NAME=benchmark-m30